.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  shape-rendering: auto;
}