.financial-card-body {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .05);
}

.financial-card-body .list-row {
  justify-content: space-between;
  gap: 2em;
}

.financial-card-body .list-row .list-item-col {
  gap: .5em;
}

.financial-card-body .list-row .list-item-col:last-child {
  align-items: flex-end;
}

.financial-card-body .list-row .list-item-col h2 {
  font-size: .9em;
}

.financial-card-body .list-row .list-item-col p {
  font-size: 1.3em;
}

/* Card Menu */
.financial-card-menu-container {
  position: relative;
}

.financial-card-menu {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 250px;
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  color: #407BFF;
  font-weight: 600;
}

.financial-card-menu:hover {
  color: #3668d4;
}

/* Savings */
.financial-card-savings-container {
  margin: 1em 0 0 0;
}

/* Bar */
.financial-card-body .financial-card-single-bar-container .bar-container {
  height: 48px;
  border-radius: 4px;
}

.financial-card-body .financial-card-single-bar-container .bar-item {
  border-radius: 4px;
}

/* Nested Bar */
.financial-card-emergency-funds-container {
  background-color: #EFF4FF;
  display: grid;
  grid-template-columns: 1.3fr .7fr;
  grid-template-areas: '. .';
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 0 0;
  padding: 1em;
}

.financial-card-emergency-funds-container .financial-card-emergency-weekly-container,
.financial-card-emergency-funds-container .financial-card-nested-bar-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
  height: 100%;
}

.financial-card-emergency-funds-container .financial-card-nested-bar-container .bar-container {
  margin: 0;
}