.home-body {
  width: 100%;
  height: 100%;
  padding: 4em 3em;
  background: inherit;
}

/* SPENDING CATEGORIES */
.home-body .doughnut-chart-container {
  width: 100%;
  margin: 2em 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: .8fr 1.2fr;
  grid-template-areas: '. .';
  gap: 2em;
}

.home-body .doughnut-chart {
  height: 20em;
}

.home-body .doughnut-chart-container .list-legend {
  width: 4px;
  height: 16px;
}

.home-body .doughnut-chart-container .list-legend-container {
  display: flex;
  gap: 4em;
}

.home-body .doughnut-chart-container .list-col {
  gap: 1em;
}

/* SPENDING CATEGORIES */
.spending-categories-container {
  display: flex;
}

.spending-categories-container button {
  background-color: #fff;
  font-size: .8em;
  font-weight: 600;
  border-radius: 3px;
  padding: .8em 2em;
  border: none;
  background-color: transparent;
  color: #292D32;
}

.spending-categories-container button.active-category {
  border: 1px solid #407BFF;
  color: #407BFF;
}

.spending-categories-container .dropdown-select-container {
  border: none;
}

.spending-categories-container .dropdown-select-container p {
  color: #292D32;
}

.spending-categories-container .dropdown-select-container.active-category {
  border: 1px solid #407BFF;
}

.spending-categories-container .dropdown-select-container.active-category p {
  color: #407BFF;
}

.spending-categories-container .dropdown-select-container.active-category img {
  filter: invert(50%) sepia(60%) saturate(5158%) hue-rotate(208deg) brightness(101%) contrast(102%);
}

/* TOP SPENDING */
.top-spending-container {
  display: flex;
  gap: 2em;
}

.top-spending-container .header-row {
  margin: 0 0 2em 0;
}

.top-spending-container .list-row-two-colored {
  padding: 1em;
}

@media only screen and (max-width: 1300px) {
  .home-body .doughnut-chart-container .list-legend-container {
    flex-direction: column;
    gap: 1em;
  }
}

@media only screen and (max-width: 1100px) {
  .home-body .doughnut-chart-container {
    display: flex;
    flex-direction: column;
  }

  .home-body .doughnut-chart-container .list-col {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 2em;
  }
}

@media only screen and (max-width: 1000px) {
  .top-spending-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .subscription-container .subscription-name-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 500px) {
  .subscription-container .subscription-name-col {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .home-body {
    padding: 2em 1em;
  }
}