.subscription-container {
  background-color: #EFF4FF;
  padding: 2em;
  margin: 4em 0;
}

.subscription-container table {
  margin: 2em 0 0 0;
}

.subscription-container table tbody td { font-size: 18px; }
.subscription-container table tbody td:first-child { width: 10%; }
.subscription-container table tbody td:last-child { font-size: 20px; }

.subscription-icon {
  display: block;
  width: 50px;
  height: 50px;
}

.subscription-container .subscription-name-col {
  display: flex;
  flex-direction: column;
}

.subscription-container .subscription-category-row {
  display: flex;
  align-items: center;
  gap: .5em;
}

.category-bullet-point {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/* All Subscriptions */
.all-subscriptions {
  margin: 2em 0;
  background-color: transparent;
  padding: 0;
}

.all-subscriptions .table-container {
  background-color: #EFF4FF;
  padding: .2em 1em 1em 1em;
  margin: 1em 0 0 0;
}