.list-row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-col {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list-row-even {
  justify-content: space-between;
}

.list-flex {
  flex-wrap: wrap;
  gap: 2em;
}

.list-flex li {
  flex: 1 1 auto;
}

.list-item-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.list-item-row {
  display: flex;
  gap: 1em;
}

.list-legend {
  display: block;
  width: 16px;
  height: 16px;
}

.list-header-row {
  display: flex;
  gap: .5em;
  align-items: center;
}

.list-header-small { font-size: 16px; }
.list-header-light { font-weight: 500; }

.list-detail-big { font-size: 30px; }
.list-detail-bold { font-weight: 600; }

.list-row-two-colored:nth-child(odd) { background-color: #F3F5F9; }
.list-row-two-colored:nth-child(even) { background-color: #fff; }

.list-top-bottom-border:only-child {
  border-top: 1px solid #6096E8;
  border-bottom: 1px solid #6096E8;
}

.list-top-bottom-border {
  border-top: 1px solid #6096E8;
}

.list-top-bottom-border:last-child {
  border-bottom: 1px solid #6096E8;
}