.budget-form-body {
  background-color: #fff;
  border-radius: 10px;
}

.budget-form-body .header-row {
  padding: 2em 2em 0 2em;
}

.budget-form-body hr {
  color: #9BBAFF;
  margin: 1em 0 1.5em 0;
}

.budget-form {
  padding: 2em;
}

.budget-form .header-row {
  padding: 0 0 1em 0;
}

.budget-form .input-container {
  background-color: #EFF4FF;
  padding: 0 0 0 1em;
}

.budget-form .input-with-label-container input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 1em;
}

.budget-form .input-with-label-container input:focus {
  outline: none;
}

.budget-form-categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.budget-form-categories-container .input-with-label-container {
  flex: 1 1 350px;
}

.budget-form .budget-form-button-container {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.budget-form .budget-form-button-container .budget-form-submit-button {
  padding: 1em 4em;
}

/* Timeline */
.budget-form-timeline-container {
  display: flex;
  gap: 2em;
}

.budget-form-timeline-container .input-with-label-container {
  width: 100%;
}

.budget-form-timeline-container .input-with-label-container input {
  border: 1px solid #407BFF;
  background-color: #EFF4FF;
  border-radius: 4px;
}

/* Add Custom Category */
.budget-form-custom-category-container {
  margin: 1em 0 2em 0;
}

.budget-form-custom-category-container button {
  padding: 1em 4em;
}

.budget-form-custom-category-container fieldset {
  padding: 0;
  border: none;
}

.budget-form-custom-category-inputs-container {
  width: 100%;
  display: flex;
  gap: 2em;
}

.budget-form-custom-category-inputs-container .input-with-label-container {
  width: 50%;
}

.budget-form-custom-category-inputs-container input {
  background-color: #EFF4FF !important;
}