.category-card-body {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .05);
}

.category-card-body .category-card-list-doughnut-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 1em 0 0 0;
}

.category-card-body .category-card-list-doughnut-container .list-row:last-child .list-item-col {
  align-items: flex-end;
}

.category-card-body .list-row .list-item-col {
  gap: .5em;
}

.category-card-body .list-row .list-item-col h2 {
  font-size: .9em;
}

.category-card-body .list-row .list-item-col p {
  font-size: 1.3em;
}

/* Doughnut */
.category-card-body .category-card-doughnut-container {
  height: 10em;
  width: 10em;
  position: relative;
}

.category-card-body .category-card-doughnut-container .category-chart-center-label {
  position: absolute;
  top: calc(50% - 1em);
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 1.2em;
}

/* Budget Exceeded or Reached*/
.budget-exceeded-container {
  background-color: #FFBAB0;
  display: flex;
  gap: 1em;
  padding: 1em;
  align-items: center;
  border-radius: 4px;
  margin: 1em 0 0 0;
}

.budget-exceeded-container p {
  color: #050A1A;
}

/* Card Menu */
.category-card-menu-container {
  position: relative;
}

.category-card-menu {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 250px;
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  color: #407BFF;
  font-weight: 600;
}

.category-card-menu:hover {
  color: #3668d4;
}